.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Button {
  display: block;
  width: 250px;
  height: 56px;
  background-color: #56C4C4;
  border-width: 0;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 22px;
  color: black;
}

.Button-toggled {
  background-color: #FADB2D;
}
